/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@788&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: #041424;
    --glow-violet: #760FFC;
    --glow-object-grad: #ffd000;
    --glow-violet-c: #AC11FD;
    --text: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    /* font-size: helvetica; */
    /* font-family: Montserrat, sans-serif; */
    background-color: #00001b; /* Fondo negro */
    color: var(--text); /* Texto en blanco */
}












/* SIDENAV */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background: #08112c;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  
 
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    background: #08112c;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }


  
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }

  .home-section{
    height: 60px;
    display: flex;
    align-items: center;
  }



  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #ffffff;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }


.contenedor-titulo h1 {
    margin: 0;
    font-size: 2em;
}

.home-content img{
    width: 15%;
    /* height: 5%; */
    object-fit: cover;
}



/* Contenedor principal ----------------------------------------*/
.contenedor-principal {
    width: 100%;
    max-width: 3000px; /* Máximo ancho para pantallas grandes */
    margin: 0 auto;
    padding: 5px;
    padding-left: 90px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

/* Fila superior con 5 contenedores -------------------------------------------*/
.fila-superior {
    margin-top: 0.4%;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
    gap: 10px; /* Espacio entre los contenedores */
    margin-bottom: 10px;
}

.contenedor-pequeño {
    background-color: #08112c;
    flex: 1 1 calc(10% - 10px); /* Ajuste flexible con espacio para gap */
    min-width: 30px; /* Ancho mínimo para evitar que se achique demasiado */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    text-align: center;
    border-radius: 8px;
    padding: 25px;

     /* Centra el texto horizontalmente dentro del contenedor */
}

.stat {
    display: flex;
    flex-direction: column;
    color: #fff; /* Color del texto */
    gap: 10px;
}

.statnum {
    background: var(--glow-violet);
    font-size: 1.8rem;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(var(--glow-shadow-text) 0px 0px 5px);
    line-height: 0.9; /* Espacio entre el número y el texto */
}

.stattext {
    font-size: 0.9em; /* Tamaño de la fuente para el texto */
}

/* Contenedor inferior con 2 columnas -------------------------------*/
h2{
    margin: 0 8;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.1rem;
    font-weight: 900;
    /* background: linear-gradient(90deg, var(--glow-violet), var(--glow-violet-c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    */
}

.leads{
    background: linear-gradient(90deg, #0077d8, #37BCDB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inversion{
    background: linear-gradient(90deg, #c9009d, #c730ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenedor-inferior {
    display: flex;
    flex-wrap: wrap; 
    gap: 0; 
    margin-top: 0px;
}

.contenedor-izquierdo,
.contenedor-centro,
.contenedor-derecho {
    margin-bottom: 0;
    flex: 1 1 calc(20% - 10px); /* Ajuste flexible con espacio para gap */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

.subcontenedor-izq,
.subcontenedor-cen,
.subcontenedor-der {
    background-color: #08112c;   
    /* height: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre los subcontenedores */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

/* Estilos para el contenedor de la tabla ------------------------------*/
.contenedor-izquierdo, .contenedor-centro, .contenedor-derecho {
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 30%;
    height: 10%;
    gap: 8px;
}

/* Estilos para el subcontenedor izquierdo */
.subcontenedor-izq, .subcontenedor-cen, .subcontenedor-der {
    border-radius: 8px;
    overflow: hidden;
}

.centro{
    margin-top: 40px;
} 

.subcontenedor-der-circle {
    background-color: #08112c;   
    height: 10.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; Espacio entre los subcontenedores */
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    padding: 2vh;
}

/* Estilos para la tarjeta de la tabla */
.card.schedule-table {
    margin-bottom: 10px;
    width: 100%;/* Fondo de la tarjeta */
    /* padding: 15px; Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

.card.schedule-table table {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
}

.card.schedule-table th,
.card.schedule-table td {
    padding: 10px; /* Espaciado interno en celdas */
    text-align: center; /* Alinea el texto a la izquierda */
    border-bottom: 1px solid #16285e; /* Línea horizontal entre filas */
}

.card.schedule-table th {
    background-color: #08163f; /* Fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

/* .card.schedule-table> table> tr> td {
    display: flex;
    justify-content: center;
} */

.card.schedule-table tr:last-child td {
    border-bottom: none; /* Elimina la línea en la última fila */
}

/* Estilos para la tarjeta de progreso personal */
.card.personal-bests {
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 4px;
}

/* Estilos para la lista dentro de la tarjeta de progreso personal */
.card.personal-bests ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los ítems de la lista como fila de tabla */
.card.personal-bests li {
    display: grid;
    grid-template-columns: 0.4fr 1.9fr 0.4fr ;
    align-items: center;
    margin-bottom: 15px;
}

/* Estilos para los textos de los ítems */
.card.personal-bests span {
    font-size: 1em;
    color: #fff;
    margin-right: 10px;
}

.total{
    color: white;
    font-weight: 1000;
}

/* Estilos para la barra de progreso */
.progress-bar {
    background-color: #11245e;
    border-radius: 8px;
    height: 20px;
    overflow: hidden;
    margin-right: 10px;
    width: 100%; /* Asegura que la barra de progreso ocupe todo el ancho disponible */
}

/* Estilos para la parte de progreso dentro de la barra */
.progress {
    height: 100%;
    /* background: linear-gradient(90deg, var(--glow-violet), var(--glow-violet-c)); */
    /* background: linear-gradient(90deg, #0077d8, #37BCDB ); */
    border-radius: 8px;
    width: 0%; /* Ancho inicial */
}

.stylebarleads{
    width: 0%; background: linear-gradient(90deg, #0077d8, #37BCDB );
}


.stylebarinver{
    width: 0%; background: linear-gradient(90deg, #c9009d, #c730ce);
}

/* Estilos para el texto del progreso */
.progress-text {
    font-size: 0.9em;
    color: #fff;
    text-align: right;
}




/* BARRAS CIRCULO----------------------------------------------------------------------------------------- */

.card.exercise-table {
    /* padding-top: 10; */
    background-color: #08112c;
    grid-row: 2;
    grid-column: 2;
}
.card>.bigstats2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* margin-bottom: 2rem; */
}

.card>.bigstats2>.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.statnum2 {
    background: var(--text);
    font-size: 1rem;
    font-weight: 1000;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(var(--glow-shadow-text) 0px 0px 5px);
    line-height: 0.9;
}

.progress-container,
.progress-container2,
.progress-container3,
.progress-container4,
.progress-container5 {
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-background {
    fill: none;
    stroke: #11245e;
    stroke-width: 10;
}
.progress-bar {
    fill: none;
    /* stroke: #8C0FE0; */
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 0, 1000;
}

.progress-bar1 {
    stroke: #37BCDB;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 0, 1000;
}



.progress-bar-circle{
    transform: rotate(-90deg); /* Rotación para empezar desde la parte superior */
    transform-origin: 50% 50%;
}
.progress-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    fill: #ffffff;
    text-anchor: middle;
    dominant-baseline: middle;
}
.countdown {
    /* background-color: #1f1f1f; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* padding: 2rem; */
    border-radius: 8px;
    width: fit-content;
    background-color: #08112c;
}

.date {
    width: 10vh;
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.date:hover {
    transform: scale(1.1);
}

.lispan {
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    background: var(--glow-violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}

.label {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 2px;

}

.countdown h1 {
    font-size: 2rem;
    color: #ffffff;
}




.time {
    height: 40%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.progress-container-time {
    margin-top: 10%;
    display: flex;
    height: 50px;
    width: 95%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.progress-segment {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0.8;
    position: relative;
    transition: width 0.5s ease;
}

#lote1-segment { background-color: #10bdf1; }
#lote2-segment { background-color: #306CCE; }
#lote3-segment { background-color: #c730ce; }
#lote4-segment { background-color: #760FFC; }

.progress-marker {
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 3;
}

.marker-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background: white;
    padding: 4px 6px;
    border-radius: 4px;
    position: relative;
    z-index: 4;
}

.marker-line {
    width: 2px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin: 3px auto;
    z-index: 4;
}

.marker-date {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    /* background: white; */
    padding: 4px 6px;
    border-radius: 4px;
    position: relative;
    z-index: 4;
}

.progress-burned {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Color semitransparente */
    transition: width 1s linear;
    z-index: 2; /* Asegura que esté sobre la barra */
}


.active {
    opacity: 1 !important;
}

.inactive {
    opacity: 1;
}



@media (max-width: 2500px) {    
    .fila-superior {
        margin-top: 1%;
    }


    .izq{
        margin-top: 7%;
    }


    h2{
        margin: 0 12; 
    }
    

    /* .card.schedule-table th,
    .card.schedule-table td {
        font-size: 1.3rem;
        padding: 10px;
    } */

    .card.personal-bests li {
        display: grid;
        grid-template-columns: 0.8fr 3fr 0.7fr;
        margin-bottom: 10px;
    }

    /* .card.personal-bests span {
        font-size: 1.3em;
    } */

    .countdown {
        gap: 0.2rem;
        margin: 2px auto;
    }

    .date {
        width: 11vh;
        font-size: 1rem;
        font-weight: 500;
        padding: 5px;
    }



}

@media (max-width: 2200px) {    

    .izq{
        margin-top: 5%;
    }


    .centro{
        margin-top: 14px;
    }
} 

/* ------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1400px) {    
    .contenedor-pequeño {
        flex: 1 1 calc(20% - 10px); /* Ajuste flexible con espacio para gap */
        padding: 0;
         /* Centra el texto horizontalmente dentro del contenedor */
    }

    .statnum {
        font-size: 2rem;
    }
    
    .stattext {
        font-size: 0.8em; /* Tamaño de la fuente para el texto */
    }

    h2{
        margin: 0;
        font-size: 1.8rem;  
    }

    
    .card.schedule-table th,
    .card.schedule-table td {
        font-size: 0.9rem;
        padding: 8px;
    }

    .card.personal-bests li {
        display: grid;
        grid-template-columns: 0.8fr 3fr 0.7fr;
        margin-bottom: 10px;
    }

    .card.personal-bests span {
        font-size: 0.7em;
    }

    .centro{
        margin-top: 14px;
    } 
    
    .countdown {
        gap: 0.2rem;
        margin: 2px auto;
    }

    .date {
        width: 11vh;
        font-size: 1rem;
        font-weight: 500;
        padding: 5px;
    }

    .lispan {
        font-size: 3rem;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        color: #ffffff;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 2px;
    }

    .subcontenedor-der-circle {
        height: 7.6rem;
        padding: 2vh;
    }

    .card>.bigstats2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2px;
        /* margin-bottom: 2rem; */
    }

    .progress-container,
    .progress-container2,
    .progress-container3,
    .progress-container4,
    .progress-container5 {
        position: relative;
        width: 75px;
        height: 75px;
    }

    .statnum2 {
        font-size: 0.8rem;
    }
}
/* Responsividad para dispositivos móviles */
@media (max-width: 700px) {

        .sidebar.close {
            left: -100px; /* Ocultar el menú en móviles */
        }

        .sidebar {
            transition: left 0.2s ease;
        }

        .home-section {
            transition: all 0.5s ease;
            margin-left: 0; /* Ajustar el margen del contenido principal cuando el menú esté visible */
        }


        .contenedor-principal {
            padding: 0;
            /* padding-left: 70px; */
            
        }

    
    .sidebar.close ~ .home-section{
        left: 0;
        width:100%;
    }

    .statnum {
        font-size: 1.5rem;
    }
    
    .stattext {
        font-size: 0.7em; /* Tamaño de la fuente para el texto */
    }


    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .contenedor-titulo img{
        width: 40%;
    }

    .fila-superior {
        gap: 20; /* Elimina el espacio entre contenedores en pantallas pequeñas */
    }

    .contenedor-pequeño {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .contenedor-izquierdo,
    .contenedor-derecho,
    .contenedor-centro {
        flex: 1 1 100%;
        height: auto;
    }

    .subcontenedor-izq,
    .subcontenedor-der,
    .subcontenedor-cen {
        height: auto;
        display: flex;
        margin-bottom: 5px; /* Ajusta el espacio entre subcontenedores */
    }

    .subcontenedor-izq,
    .subcontenedor-der,
    .subcontenedor-cen {   
        flex-direction: row;

    }


    .subcontenedor-der {
        height: 100%;
    }

    

    .card.schedule-table {
        padding: 5px;
    }

    .card.schedule-table h2 {
        font-size: 1.2em;
    }

    .card.schedule-table th,
    .card.schedule-table td {
        font-size: 0.8rem;
        padding: 8px;
    }


    .card.personal-bests {
        width: 100vh;
    }
    
    /* Estilos para la lista dentro de la tarjeta de progreso personal */
    .card.personal-bests ul {
        /* border: 1px solid rgb(51, 139, 0); */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* Estilos para los ítems de la lista como fila de tabla */
    .card.personal-bests li {
        display: grid;
        grid-template-columns: 0.5fr 3.1fr 0.5fr; 
        /* align-items: center; */
        /* margin-bottom: 15px; */
    }


    
    /* Estilos para los textos de los ítems */
    .card.personal-bests span {
        /* border: 1px solid darkblue; */
        font-size: 0.8rem;
        color: #fff;
        padding: 0;
    }


    
    /* Estilos para la parte de progreso dentro de la barra */
    

    .progress-bar {
        height: 90%;
    }

    .progress-container, .progress-container2, .progress-container3, .progress-container4, .progress-container5 {
        width: 100px; 
        height: 100px; 
    }

    .subcontenedor-der-circle {
        padding: 0.4vh;
        height: 100%;
        padding: 2vh;
    }


    .card>.bigstats2 {
        grid-template-columns: repeat(5, 1fr);
        gap: 0.2rem;
    }


    .statnum2 {
        font-size: 1rem;
        font-weight: 600;
    }

    .contenedor-final {
        margin-top: 20px;
    }

    .hour{
        display: flex;
        flex-direction: column;

    }

    .countdown {
        gap: 1rem;
    }

    .date {
        width: 16vh;
    }

    .time {
        display: none;
    }

}

/* ------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 500px) {
    .sidebar.close {
        left: -100px;
    }

    .sidebar {
        transition: left 0.2s ease;
    }

    .home-section {
        transition: all 0.5s ease;
        margin-left: 0; 
    }


    .contenedor-principal {
        padding: 0;
        /* padding-left: 70px; */
        
    }
      
    .contenedor-principal {
        padding: 0;
    }

    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 900;
    }

    .contenedor-titulo img{
        width: 60%;
    }

    .fila-superior {
        flex-direction: column;
        gap: 20; 
    }

    .contenedor-pequeño {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .contenedor-izquierdo,
    .contenedor-derecho {
        flex: 1 1 100%;
        height: auto;
    }

    .subcontenedor-izq,
    .subcontenedor-der {
        height: auto;
        display: flex;
        margin-bottom: 5px; 
    }

    .subcontenedor-izq,
    .subcontenedor-der {   
        flex-direction: row;

    }


    .subcontenedor-der {
        height: 100%;
    }


    .card.schedule-table {
        padding: 5px;
    }

    .card.schedule-table h2 {
        font-size: 1.2em;
    }

    .card.schedule-table th,
    .card.schedule-table td {
        font-size: 0.8rem;
        padding: 8px;
    }


    .card.personal-bests {
        width: 80vh;
    }
    
    /* Estilos para la lista dentro de la tarjeta de progreso personal */
    .card.personal-bests ul {
        /* border: 1px solid rgb(51, 139, 0); */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* Estilos para los ítems de la lista como fila de tabla */
    .card.personal-bests li {
        display: grid;
        grid-template-columns: 1fr 3fr 0.8fr; 
        /* align-items: center; */
        /* margin-bottom: 15px; */
    }


    
    /* Estilos para los textos de los ítems */
    .card.personal-bests span {
        /* border: 1px solid darkblue; */
        font-size: 0.8rem;
        color: #fff;
        padding: 0;
    }
    

    .progress-bar {
        height: 90%;
    }


    .progress-container, .progress-container2, .progress-container3, .progress-container4, .progress-container5 {
        width: 130%; 
        height: 130%; 
    }

    .subcontenedor-der-circle {
        padding: 2vh;
        height: 90%;
    }

    .card>.bigstats2 {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    .statnum2 {
        font-size: 0.8rem;
        font-weight: 800;
    }

    .contenedor-final {
        margin-top: 20px;
    }

    .countdown {
        gap: 0.3rem;
    }

    .date {
        width: 14vh;
    }




}

/* ------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 430px) {
    .sidebar.close {
        left: -100px; /* Ocultar el menú en móviles */
    }

    .sidebar {
        transition: left 0.2s ease;
    }

    .home-section {
        transition: all 0.5s ease;
        margin-left: 0; /* Ajustar el margen del contenido principal cuando el menú esté visible */
    }


    .contenedor-principal {
        padding: 0;
        /* padding-left: 70px; */
        
    }

    .contenedor-principal {
        padding: 0;
        
    }

    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.5rem;
    }

    .contenedor-titulo img{
        width: 50%;
    }

    .fila-superior {
        flex-direction: column;
        gap: 20; 
    }

    .contenedor-pequeño {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .contenedor-izquierdo,
    .contenedor-derecho {
        flex: 1 1 100%;
        height: auto;
    }

    .subcontenedor-izq,
    .subcontenedor-der {
        height: auto;
        display: flex;
        margin-bottom: 5px; 
    }

    .subcontenedor-der {
        height: 100%;
    }

    .card.schedule-table {
        padding: 5px;
    }

    .card.schedule-table h2 {
        font-size: 1.2em;
    }

    .card.schedule-table th,
    .card.schedule-table td {
        font-size:1rem;
        padding: 8px;
    }


    .card.personal-bests {
        width: 80vh;
    }
    

    .card.personal-bests ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    

    .card.personal-bests span {

        font-size: 0.7rem;
        color: #fff;
        padding: 0;
    }

    .progress-bar {
        height: 90%;
    }

    .card.schedule-table {
        padding: 2px;
    }

    .card.schedule-table th,
    .card.schedule-table td {
        font-size: 0.67rem;
        padding: 8px;
    }


    .card.personal-bests {
        width: 80vh;
    }
    
    

    .card.personal-bests li {
        margin-bottom: 10px;
    }
    


    .statnum2 {
        font-size: 0.6rem;
    }



    .countdown{
        width: 100%;
        margin-bottom: 20px;
        gap: 0.1rem; 
        margin: 5px;
    }
    
    .date{
        /* font-size: 2rem;
        padding: 20px; */
        width: 10vh;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
        font-size: 3rem;
        padding: 15px;
        border-radius: 8px;
    
    }

    .lispan {
        font-size: 1.5rem; 
    }

    .label {
        font-size: 0.9rem;
    }

    .countdown h1 {
        font-size: 2rem;
    }
}  
