@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@788&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');/* styles.css */

/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
}



*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: rgba(0, 0, 0, 0.4);
    --glow-violet: #760FFC;
    --glow-object-grad: #ffd000;
    --glow-violet-c: #AC11FD;
    --text: #ffffff;
    --container: #08112c;
}

body {
  margin: 0;
  padding: 0;
  /* font-size: helvetica; */
  /* font-family: Montserrat, sans-serif; */
  background-color: #00001b; /* Fondo negro */
  /* background-image: url('../FONDO\ XD.jpg'); Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: var(--text);
}

/* SIDENAV */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background: #08112c;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}


.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #08112c;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}



.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

.home-section{
  height: 60px;
  display: flex;
  align-items: center;
}



.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #ffffff;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}



  
/* Estilo para el contenedor del título ---------------------------------*/


.contenedor-titulo h1 {
    margin: 0;
    font-size: 2em;
}

.home-content img{
    width: 15%;
    /* height: 5%; */
    object-fit: cover;
}

.contenedor-principal {
  width: 100%;
  max-width: 3000px;
  padding: 5px;
  padding-left: 100px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Para ocupar el alto completo de la pantalla */
}

.fila {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los contenedores se envuelvan en pantallas más pequeñas */
  justify-content: space-between;
  margin-bottom: 20px;
}

.fila2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los contenedores se envuelvan en pantallas más pequeñas */
  justify-content: space-between;
  margin-bottom: 20px;
}


.contenedor-pequeño {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21%;
  background-color: var(--container);
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
}


/* Efecto hover */
.contenedor-pequeño:hover {
  background-color: #1b1f3d; 
  transform: translateY(-5px); /* Levantar el botón hacia arriba */
}

/* Efecto activo (al hacer click) */
.contenedor-pequeño:active {
  transform: translateY(2px); /* Reducir la elevación al hacer click */
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15); /* Sombra más pequeña */
}

/* Contenedores grandes en la segunda fila */
.contenedor-grande {
  width: 48%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%; /* Ajuste del tamaño del contenedor */
}

/* Contenedores internos dentro de contenedor 5 y 6 (uno encima del otro) */
.contenedor-interno {
  height: 100%; /* Ocupan la mitad del contenedor padre */
  background-color: var(--container);
  margin-bottom: 4px;
  border-radius: 4px;
}

.contenedor-interno2 {
  display: flex;
  justify-content: center;
  height: 50%; /* Ocupan la mitad del contenedor padre */
  background-color: var(--container);
  margin-bottom: 4px;
  border-radius: 4px;
  gap: 50px;
}

/* Contenedores adicionales al final (7A y 7B uno al lado del otro) */
.contenedor-lado-a-lado {
  width: 100%;
  height: 100px;
  background-color: var(--container);
  border-radius: 8px;
}

h1{

  font-size: 30px;
}

#datos-tabla {
  width: 100%;
  border-radius: 8px;
  
}

#datos-tabla th, #datos-tabla td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #16285e;
}

#datos-tabla th {
  background-color: #08163f;;
}

/* Estilo para los contenedores */


#contenedor-barras {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 20px;
}

.fila-mes {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.columna-mes{
  width: 15%; /* Ajusta según el tamaño deseado */
  text-align: start;
  font-weight: bold;
  
}
.columna-total {
  width: 15%; /* Ajusta según el tamaño deseado */
  text-align: center;
  font-weight: bold;
  
}

.columna-barra {
  width: 70%; /* Ajusta según el tamaño deseado */
}

.barra-contenedor {
  display: flex;
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.barra-frio, .barra-tibio {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.barra-frio {
  background-color: var(--glow-violet); /* Color para Leads Fríos */
}

.barra-tibio {
  background-color: var(--glow-violet-c); /* Color para Leads Tibios */
}

.texto-barra {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #08112c;
  font-weight: 800;
}

#grafico{
  width: 980px;
  height: 400px;
}

#graficoRosquilla1, 
#graficoRosquilla2,
#graficoRosquilla3 {
  width:250px;
  height: 300px;
}



@media (max-width: 768px) {

  .sidebar.close {
      left: -100px; /* Ocultar el menú en móviles */
  }

  .sidebar {
      transition: left 0.2s ease;
  }

  .home-section {
      transition: all 0.5s ease;
      margin-left: 0; /* Ajustar el margen del contenido principal cuando el menú esté visible */
  }

      
  .sidebar.close ~ .home-section{
    left: 0;
    width:100%;
  }

  .fila {
    flex-direction: column;
  } 

  /* .contenedor-pequeño, .contenedor-grande {
    width: 100%;
    margin-bottom: 10px; */








































    .contenedor-principal {
      margin: 2vh;
      padding: 5px;
    }
    
    .fila {
      margin-top: 2px;
      margin-bottom: 20px;
    }

    .fila2 {
      margin-top: 2px;
      width: 100%;
    }


      .contenedor-pequeño {
        padding: 10px;
        width: 50%;
        font-size: 12px;
      }

    .contenedor-grande {
      width: 91%;
    }

    h1{

      font-size: 20px;
    }

    #datos-tabla {
      width: 100%;
    }

    #datos-tabla th, #datos-tabla td {
      padding: 0;
      font-size: 13px;;
    }


    .columna-mes{
      width: 15%; 
      font-size: 11px;
    }

    .columna-barra {
      width: 50%; /* Ajusta según el tamaño deseado */
    }

    #contenedor-barras {
      margin-top: 10px;
    }

    .columna-total {
      font-size: 11px;
      width: 15%; /* Ajusta según el tamaño deseado */
    }

    .barra-contenedor {
      height: 18px;
    }

    .barra-frio, .barra-tibio {
      height: 100%;
      font-size: 11px;
    }

    .texto-barra {
      width: 100%;
      text-align: center;
      font-size: 11px;
      color: #08112c;
      font-weight: 600;
    }

    .contenedor-interno {
      padding: 15px ;
    }

    #grafico{
      width: 100%;
      height: 290px;
    }


    .contenedor-interno2 {
      display: flex;
      justify-content: center;
      height: 50%; /* Ocupan la mitad del contenedor padre */
      background-color: var(--container);
      margin-bottom: 4px;
      border-radius: 4px;
      gap: 50px;
    }


    #graficoRosquilla1, 
    #graficoRosquilla2,
    #graficoRosquilla3 {
      width:250px;
      height: 300px;
    }




















}

  


}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
    .sidebar.close {
      left: -100px; /* Ocultar el menú en móviles */
  }

  .sidebar {
      transition: left 0.2s ease;
  }

  .home-section {
      transition: all 0.5s ease;
      margin-left: 0; /* Ajustar el margen del contenido principal cuando el menú esté visible */
  }



}






